@import '~@angular/material/theming';
@import '../variables';

:host {
    $bg-color: #eee;
    
    background-color: $bg-color;
    display: flex;
    flex-direction: column;

    .img-container {
        overflow: hidden;
        position: relative;

        img {
            height: auto;
            width: 100%;
            transform: scale(1.3);
            margin: {
                top: -1rem;
                left: -1rem;
            }
        }
    }

    .text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .background {
            background-color: $bg-color;
            position: absolute;
            margin-top: -3%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: skewY(3deg);
            transform-origin: bottom;
        }

        p {
            margin-bottom: 1rem;
            padding: 1rem;
            position: relative;
        }
    }
        
    @media (min-width: #{$breakpoint-1}) {
        flex-direction: row;

        .img-container {
            flex: 1 0 auto;
            height: 100%;
            width: 50%;
        }

        .text-container {
            .background {
                transform: skewX(11deg);
            }
        }
    }

    @media (min-width: #{$window-medium}) {
        .text-container {
            p {
                padding: 2.5rem;
            }
        }
    }
}
