@import '../variables';

:host {
    $bg-color: #eee;
    
    background-color: $bg-color;
    display: flex;
    flex-direction: column;

    .img {
        background: {
            image: url('https://firebasestorage.googleapis.com/v0/b/partiu-pizza.appspot.com/o/portuguesa.jpg?alt=media&token=494d302c-7e15-4089-a1c4-bf2f3061c655');
            repeat: no-repeat;
            position: 70% 70%;
            size: 130%;
        }
        flex: 1 0 auto;
        height: 67vw;
    }

    .text-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .background {
            background-color: $bg-color;
            position: absolute;
            margin-top: -3%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: skewY(3deg);
            transform-origin: bottom;
        }

        .pp-container {
            margin-bottom: 1rem;
            padding: 1rem;
            position: relative;

            h1 {
                margin-bottom: 1rem;
            }
        }
    }

    @media (min-width: #{$tablet-portrait-large}) {
        .text-container {
            .pp-container {
                h1 {
                    margin-left: -3rem;
                }
            }
        }
    }
        
    @media (min-width: #{$window-medium}) {
        flex-direction: row;

        .img {
            flex: 1 0 auto;
            height: 33vw;
            width: 50%;
        }

        .text-container {
            .background {
                transform: skewX(11deg);
            }

            .pp-container {
                padding: 2.5rem;
            }
        }
    }
}
