@import '~@angular/material/theming';

@include mat-core();


$clue-primary: mat-palette($mat-blue);
$clue-accent: mat-palette($mat-deep-orange, 500, A100, A400);

$clue-warn: mat-palette($mat-red);


$clue-theme: mat-light-theme($clue-primary, $clue-accent, $clue-warn);


@include angular-material-theme($clue-theme);
